TERRAFORM_STATE_S3_BUCKET=change_me
TERRAFORM_STATE_S3_KEY=change_me
IMAGE_REPO=change_me
IMAGE_REPO_USERNAME=change_me
IMAGE_REPO_PASSWORD=change_me
AWS_ROLE_ARN=change_me
AWS_ACCESS_KEY_ID=change_me
AWS_REGION=change_me
AWS_SECRET_ACCESS_KEY=change_me
AWS_STS_EXTERNAL_ID=change_me
LOCALSTACK_AUTH_TOKEN=change_me
